/* ======================================== サイト全体に適用*/
* { /* 全ての要素の間隔・余白を０へ */
margin:0;
padding:0;
}


body {
	margin: 0;
	font-size: 96%;
	color: #333;
	text-align: center;
	background-color: #ddd;
}


p, /* 文章の行間を指定 */
#main ul,
#main ol,
#menuL ul,
#menuL ol,
dl
{
	line-height: 160%;
}



/* ========================================  #page ページ外枠 */
#page {
	width: 810px;
	padding: 0px 20px;
	margin: 0px auto;
	text-align: left;
	background-color: #F0F0F0;
}


/* ========================================  #header 画面上部 */
#header {
	padding: 10px 0 0;
	margin: 0;
}



#headerinfo { /* ヘッダー右上の文字スペース */
	text-align: right;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}



#header #header_title {/* ヘッダー左上のタイトルスペース */
	float: left;
	font-size: 24px;
	color: #666666;
	font-weight: bold;
	margin: 0px 0px 5px;
	padding: 0px;
	height: 74px;
}



#header #headerimg {
	clear: both;
	height: 108px;
	margin: 2px 0 0;
	border-top: 2px solid #666666;
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	background-image: url(img/headback002.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}


table.t_headerimg{
    border-top:1px solid #663300;
    border-left:1px solid #663300;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}
.t_headerimg th{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    color:#330000;
    background-image:url(../img/table-back.gif);
    background-position:left top;
    padding:0.3em 1em;
    text-align:center;
}
.t_headerimg td{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    padding:0.3em 1em;
}

table.t_state{
    border-top:1px solid #663300;
    border-left:1px solid #663300;
    border-collapse:collapse;
    border-spacing:0;
    empty-cells:show;
}
.t_state th{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    color:#330000;
    background-image:url(../img/table-back.gif);
    background-position:left top;
    padding:0.3em 1em;
    text-align:center;
}
.t_state td{
    border-right:1px solid #663300;
    border-bottom:1px solid #663300;
    padding:0.3em 1em;
}



#header img {
	border: none;
}


ul.header_2{ /* 上部メニュー */
	background-color: #F0F0F0;
	height: 28px;
	border-bottom: 5px solid #999999;
	margin: 0px;
	border-top: 1px solid #999999;
}

/* ========================================  #menu 上部メニュー */
#menu {
	border-right: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
}



ul.menu_f01{ /* 上部メニュー */
	background-color: #ddd;
	height: 28px;
	border-bottom: 5px solid #999999;
	margin: 0px;
	border-top: 1px solid #999999;
}


ul.menu_f01 li{
	float: left;
	border-right: 1px solid #999999;
	display: block;
}


ul.menu_f01 li a{
	height: 25px;
	width: 100px;
	padding: 15px 0px 0px;
	border-bottom: 5px solid #999999;
	font-size: 14px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	display: block;
	text-align: center;
	background-color: #F0F0F0;
}


ul.menu_f01 li a.nowthis{
	border-bottom: 5px solid #FF6699!important;
}


ul.menu_f01 li a:hover , ul.menu_f01 li a.nowthis{
	padding: 15px 0px 0px;
	border-bottom: 5px solid #FF6699;
	background-color: #E8E8E8;
}



/* ======================================== #contents 画面中央部 #mainとサイドメニューの外枠 */
#contents{
	padding: 15px 0px 0px;
	margin: 0px;
	background-color: #FFFFFF;
	background-image: url(img/backS001.png);
	background-position: top;
	background-repeat: repeat-x;
}



/* ========================================  #main ページの本文 */
#main {
	float: right;
	width: 800px;
	padding: 0;
	margin: 10px 0 0 0px;
	background-color: #FFF;
}



.contentswrap { /* #main中の間隔調整 */
	margin:0 10px 15px;
	padding:0;
}



#breadNavi {
	height: 50px;
	padding: 15px 0 0 2px;
	margin: 5px 0 20px;
}


#main h1 { /* 本文の見出し */
	background-image:url(img/h1bar001.png);
	background-repeat:no-repeat;
	clear:left;
	color:#FFF;
	font-size:18px;
	height:50px;
	margin:0;
	padding:16px 0 0 20px;
}



#main h2 { /* 本文の見出し2 */
	background-image:url(img/h2back.gif);
	background-position:left top;
	background-repeat:no-repeat;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
	clear:left;
	color:#333;
	font-size:16px;
	margin:10px 0 1.5em;
	padding:12px 0 0px 30px;
	height: 27px;
}



#main h3 { /* 本文の見出し3 */
	margin:0.5em 0;
	background-color: #F6F6F6;
	border-left: 5px solid #336699;
	padding: 3px 0px 3px 5px;
	font-size: 96%;
	border-bottom: 1px solid #CCCCCC;
}



#main p { /* 本文の段落 */
	margin:0 2px 1.5em 5px;
}



#main ul , #main ol{ /* リスト表示 */
	margin:1em 20px 2em 40px;
	padding-left:25px;
}



#main dl { /* 定義リスト表示 */
	margin:1em 0 1em 30px;
	padding:0 0 10px;
}



#main dt {
	float: left;
	clear: left;
	margin: 0 20px 0px 0;
	font-weight: 700;
}



#main dd {
	padding: 0 0 0 10px;
	margin: 0;
}



#main dd.link {
	margin: 0 0 0 100px;
	border-left: 1px solid #CCCCCC;
}



#main #subnavi {
	clear: both;
	padding: 10px 0;
	margin: 20px 0 10px;
	border-top: 1px dashed #999;
	text-align: right;
}



#main .img { /* 図・写真用クラス：写真のような枠をつける */
	background-color:#CCC;
	border:1px solid #999;
	margin:0 0 20px 20px;
	padding:5px;
}


.toInfo {
	clear: left;
	margin: 0px !important;
	text-align: right;
	list-style-type: none;
}


.toInfo a {
	padding: 0px 0px 0px 20px;
	background-image: url(img/iconYa04.png);
	background-repeat: no-repeat;
}



/* ========================================  #underNavi 画面下部サブナビゲーション */
#underNavi{
	clear: both;
	padding: 10px;
	border-top: 1px solid #CCCCCC;
}


/* ========================================  #footer 画面下部 */
#footer {
	clear: both;
	margin: 0px;
	border-top: 5px solid #999999;
	border-bottom: 1px solid #666;
	text-align: center;
	background-color: #FFF;
	background-image: url(img/backS001.png);
}



#footer p {
	padding-top: 10px;
	padding-bottom: 10px;
}



/* ========================================  #templatelink 画面下部:著作リンク */
#templatelink {
	padding: 5px 0px;
	margin: 0px;
	font-size: 12px;
	text-align: right;
}



#templatelink a{
	color: #666666;
	text-decoration: none;
}



/* ========================================  そのほか個別設定 */
#newsbox {
	height: 150px;
	margin: 0px 0px 10px;
	overflow: auto;
	border: 1px solid #999999;
	background-image: url(img/backS001.png);
	background-position: left top;
	background-repeat: repeat-x;
}


.table, /* 表の整形・配色 */
.table2 {
	width: 530px;
}


table {
	margin: 0 0 2em 2px;
}



.table td {
	padding: 10px;
	border: 1px solid #CCC;
	background-color: #FFF;
}



.table td.tb {
	width: 200px;
	background-color: #F8F5EF;
}



.table2 td {
	padding: 10px;
}



.table2 td.tb {
	width: 100px;
	text-align: right;
	background-color: #EBEBEB;
}



.itemList { /* .itemList #main内の段組用外枠 */
	clear:left;
	margin:0 0 1em;
}



.box { /* .itemList #main内の段組用内枠 */

	margin:0 0px 5px 0;
	width:260px;
}



.box h2 {
	margin: 0 0 10px;
}



.box ul {
	float: left;
	width: 140px;
	margin: 0 0 30px !important;
	list-style-position: outside;
}


.eyeCaImg { /* .itemList #main内の段組用：アイキャッチ画像 */
	float:left;
	margin:0 0 10px 2px;
}



strong {
	font-weight: bold;
	color: #CC6666;
}


hr { /* 水平線 flotクリア用 */
	clear:both;
	color: #CCCCCC;
	border: 1px solid #CCCCCC;
	margin: 0px;
	padding: 0px;
}

